<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyhstudy.springboot.mybatis.mapper.ClazzMapper">

  <resultMap id="clazzMap" type="Clazz">
    <id column="clazz_id" property="clazzId"/>
    <result column="clazz_name" property="clazzName"/>
    <collection ofType="Student" property="students">
      <id column="student_id" property="studentId"/>
      <result column="student_name" property="studentName"/>
      <result column="birthday" property="birthday"/>
    </collection>
  </resultMap>
  <select id="getStudentsOneToMany" resultMap="clazzMap">
    select c.clazz_id,c.clazz_name,s.student_id,s.student_name,s.birthday
    from t_clazz c,t_student s
    where c.clazz_id = #{clazzId}
    and c.clazz_id = s.clazz_id
  </select>


  <resultMap id="ClazzAndTeacherMap" type="Clazz">
    <id column="clazz_id" property="clazzId"/>
    <result column="clazz_name" property="clazzName"/>
    <association property="teacher" javaType="Teacher">
      <id column="teacher_id" property="teacherId"/>
      <result column="teacher_name" property="teacherName"/>
    </association>
    <collection property="students" ofType="Student">
      <id column="student_name" property="studentName"/>
      <result column="student_id" property="studentId"/>
      <result column="hometown" property="hometown"/>
      <result column="birthday" property="birthday"/>

    </collection>
  </resultMap>
  <select id="getStudentAndTeacher" resultMap="ClazzAndTeacherMap">
    select t_clazz.clazz_id,t_clazz.clazz_name,t_teacher.teacher_id,t_teacher.teacher_name,t_student.student_name,
    student_id,hometown,birthday
    from t_clazz,t_teacher,t_student
    where t_clazz.clazz_id = #{clazzId}
    and t_clazz.teacher_id = t_teacher.teacher_id
    and t_clazz.clazz_id = t_student.clazz_id
  </select>
</mapper>