<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyhstudy.springboot.mybatis.mapper.CourseStudentMapper">
  <resultMap id="BaseResultMap" type="com.gyhstudy.springboot.mybatis.domain.CourseStudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
  </resultMap>

</mapper>