<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyhstudy.springboot.mybatis.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.gyhstudy.springboot.mybatis.domain.Course">
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <collection property="students" ofType="Student">
      <id column="student_id" property="studentId"/>
      <result column="student_name" property="studentName"/>
      <result column="clazz_id" property="clazzId"/>
      <result column="hometown" property="hometown"/>
      <result column="birthday" property="birthday"/>
    </collection>
  </resultMap>

  <select id="getCourseAndStudent" resultMap="BaseResultMap" parameterType="string">
    select c.course_id, course_name,s.student_id, clazz_id, student_name, hometown, birthday
    from t_course c,t_student s
    left join t_course_student tcs on s.student_id = tcs.student_id
    where course_name = #{coursename}
    and tcs.course_id = c.course_id

<!--    select c.course_id, course_name,s.student_id, clazz_id, student_name, hometown, birthday-->
<!--     from t_course c,t_student s,t_course_student tcs-->
<!--     where course_name = #{coursename,jdbcType=VARCHAR}-->
<!--     and tcs.student_id = s.student_id-->
<!--     and tcs.course_id = c.course_id-->
  </select>
</mapper>