<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyhstudy.springboot.mybatis.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="Teacher">
    <id column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <association property="clazz" javaType="Clazz">
      <id column="clazz_id" property="clazzId"/>
      <result column="clazz_name" property="clazzName"/>
    </association>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from t_teacher
  </select>
  <insert id="insertTeacher" parameterType="Teacher">
    insert into t_teacher(`teacher_name`,clazz_id)
      values (#{teacherName,jdbcType=VARBINARY},#{clazzId,jdbcType=INTEGER})
  </insert>

  <select id="getClazzOneByOne" resultMap="BaseResultMap">
    select t_teacher.teacher_id,teacher_name,t_clazz.clazz_id,clazz_name
    from t_teacher,t_clazz
    where t_teacher.teacher_id = #{teacherId}
    and t_teacher.clazz_id = t_clazz.clazz_id
  </select>
</mapper>